@{
    ViewData["Title"] = "Consulta Enviada";
}
<style>
    body {
        background-color: #f3ecc026;
        line-height: 1.8;
        font-family: sans-serif;
        font-size: medium;
        text-align: center;
    }

    a:link {
        text-decoration: none;
    }
</style>

<p>Pré-agendamento concluído com sucesso! <br/>
 Iremos ligar para o número informado para confirmar a consulta do seu pet.</p>
<p>A Pet Vet clínica veterinária agradece seu contato.</p>

<p><a asp-action="Listagem">Conferir dados enviados</a></p>

<p><a asp-action="Index">Voltar à página inicial</a></p>