@{
    ViewData["Title"] = "Nossos Serviços";
}

<style>
    body {
        background-color: #f3ecc026;
        line-height: 1.8;
        font-family: sans-serif;
        font-size: medium;
    }
</style>

<ul>
    <li>Banho</li>
    <li>Tosa</li>
    <li>Consultas</li>
    <li>Cirurgias</li>
    <li>Internação</li>
    <li>Exames</li>
    <li>Farmácia</li>
    <li>Vacinas</li>
    <li>Emergências</li>
</ul>


